body {
  margin: 0;
  padding: 0;
}

.filtered-books {
  margin: 20px 10px 20px 10px;
}

.title-error {
  color: red;
  font-size: small;
  margin: 0px 5px 0px 5px;
}

.search-bar {
  margin: 5px 10px 5px 10px;
  padding: 5px 10px 5px 10px;
  border-radius: 6px;
  border: 1px black solid;
  width: 300px;
  background-color: rgb(209, 209, 209);
  color: rgb(92, 92, 230);
}
