body {
  margin: 0;
  padding: 0;
  background-color: #1a120b;
  color: #e5e5cb;
}

.app {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  font-size: 50px;
}

.filter {
  margin: 20px 10px 20px 10px;
}

.title-error {
  color: red;
  font-size: small;
  margin: 0px 5px 0px 5px;
}

.search-bar {
  margin: 5px 10px 5px 10px;
  padding: 5px 10px 5px 10px;
  border-radius: 6px;
  border: 1px black solid;
  width: 300px;
  background-color: rgb(209, 209, 209);
  color: rgb(92, 92, 230);
}

/* highlights active filter buttons */
.active-filter-btn {
  background-color: #d5cea3;
  color: #3c2a21;
  font-weight: bold;
}

/* add-book btn */
.add-book-btn {
  background-color: #d5cea3;
  color: #3c2a21;
  cursor: pointer;
}

main > .book-list-container > ul {
  background-color: #3c2a21;
  list-style: none;
  padding: 20px;
}

main > .book-list-container > ul > li {
  font-size: 20px;
  padding: 10px;
  border: 2px solid #1a120b;
}

main > .book-list-container > ul > li > button {
  margin-left: 20px;
  background-color: #d5cea3;
  color: #3c2a21;
  font-weight: bold;
  font-size: 14px;
  border-radius: 6px;
  padding: 5px 10px 5px 10px;
  cursor: pointer;
}
