body {
  margin: 0;
  padding: 0;
  background-color: #3c2a21;
  color: #e5e5cb;
}

.app {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

header,
.controls,
.add-book-form,
main {
  margin-bottom: 20px;
}

h1 {
  text-align: center;
  font-size: 50px;
}

/* style for buttons */
.def-butns-stl {
  background-color: #d5cea3;
  color: #3c2a21;
  font-weight: bold;
  font-size: 14px;
  border-radius: 6px;
  padding: 5px 10px 5px 10px;
  cursor: pointer;
}

/* CONTROLS SECTION */
.controls {
  padding: 15px;
  background-color: #251a14c9;
  border: 1px solid #d5cea3;
  border-radius: 10px;
}

.filter {
  margin: 20px 10px 20px 10px;
}

.filter > button {
  background-color: #d5cea3;
  color: #3c2a21;
  font-weight: bold;
  font-size: 14px;
  border-radius: 6px;
  padding: 5px 10px 5px 10px;
  cursor: pointer;
}

.search-bar {
  margin: 5px 10px 5px 10px;
  padding: 15px 20px 15px 20px;
  border-radius: 12px;
  border: 1px black solid;
  width: 600px;
  background-color: rgb(209, 209, 209);
  color: #3c2a21;
  opacity: 0.3;
  font-weight: bold;
}

/* highlights active filter buttons */
.active-filter-btn {
  background-color: #d5cea3;
  color: #3c2a21;
  font-weight: bold;
}

/* SORT-DIRECTION */
.def-butns-stl {
  background-color: #d5cea3;
  color: #3c2a21;
  font-weight: bold;
  font-size: 14px;
  border-radius: 6px;
  padding: 5px 10px 5px 10px;
  cursor: pointer;
}

/* FORM SECTION */
.add-book-form {
  padding: 15px;
  background-color: #251a10;
  border: 5px solid #d5cea3;
  border-radius: 10px;
}

/* FORM */
#book-form {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
}

#book-form .form-group {
  display: flex;
  flex: 1;
  gap: 10px;
}

#book-form .form-group input {
  flex: 1;
  padding: 10px 10px 10px 10px;
  border-radius: 12px;
  border: 1px black solid;
  background-color: rgb(209, 209, 209);
  color: #3c2a21;
  font-weight: bold;
}

/* add-book btn */
#book-form button {
  white-space: nowrap;
}

#book-form button:disabled {
  background-color: #d5cea3;
  font-weight: bold;
  border-radius: 6px;
  padding: 5px 10px 5px 10px;
  cursor: not-allowed;
  font-size: 14px;
}

#book-form button:not(:disabled) {
  background-color: #d5cea3;
  color: #3c2a21;
  font-weight: bold;
  font-size: 14px;
  border-radius: 6px;
  padding: 5px 10px 5px 10px;
  cursor: pointer;
}

#book-form button:not(:disabled):hover {
  opacity: 0.8;
}

main > .book-list-container > ul {
  background-color: #3c2a21;
  list-style: none;
  padding: 20px;
  border: 2px solid #d5cea3;
  border-radius: 10px;
}

main > .book-list-container > ul > li {
  font-size: 20px;
  padding: 10px;
  border: 2px solid #1a120b;
  border-radius: 10px;
  margin-bottom: 5px;
}

main > .book-list-container > ul > li > button {
  margin-left: 20px;
  background-color: #d5cea3;
  color: #3c2a21;
  font-weight: bold;
  font-size: 14px;
  border-radius: 6px;
  padding: 5px 10px 5px 10px;
  cursor: pointer;
}

/* this adds styling to the inputs after
edit button is pressed */
.title-input {
  padding: 10px 10px 10px 10px;
  border-radius: 12px;
  border: 1px black solid;
  background-color: rgb(209, 209, 209);
  color: #3c2a21;
  font-weight: bold;
}

.author-input {
  padding: 10px 10px 10px 10px;
  border-radius: 12px;
  border: 1px black solid;
  background-color: rgb(209, 209, 209);
  color: #3c2a21;
  font-weight: bold;
}

.save-btn:disabled {
  background-color: #d5cea3;
  color: #3c2a21;
  font-weight: bold;
  border-radius: 6px;
  padding: 5px 10px 5px 10px;
  cursor: not-allowed;
  font-size: 14px;
  opacity: 0.5;
}
